<%= form_for([@timetable, @lecture]) do |f| %>
  <% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% @lecture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_module_id %><br>
    <%= f.select(:course_module_id, @course_modules, {}) %>
  </div>

 <!-- This piece of code is used to enter the location of the event-->
  <%= f.fields_for :location do |location_builder| %>
    <div class="field">
      <!-- <%= location_builder.label :address %><br> -->
      <%= location_builder.hidden_field :address, :value => "Brunel University" %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :start_at %><br>
    <%= f.time_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br>
    <%= f.time_select :end_at %>
  </div>
  <div class="field">
    <%= f.label :repeat_type %><br>
    <%= f.select(:repeat_type, [["none"],["Daily"],["Weekly"],["Monthly"]]) %>
  </div>
  <div class="field">
    <%= f.label :repeat_frequency, "Repeat every" %><br>
    <%= f.select( :repeat_frequency, 1..31) %>
  </div>
  <div class="field">
    <%= f.label :colour %><br>
    <%= f.text_field :colour %>
  </div>
  <div class="field">
    <%= f.label :privacy %><br>
    <%= f.radio_button(:privacy, "private") +" Private" %>
    <%= f.radio_button(:privacy, "public") +" Public"%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

    <div class="field">
    <%= f.label :day %><br>
    <%= f.radio_button(:day, "monday") %> Mon
    <%= f.radio_button(:day, "tuesday") %> Tue
    <%= f.radio_button(:day, "wednesday") %> Wed
    <%= f.radio_button(:day, "thursday") %> Thu
    <%= f.radio_button(:day, "friday") %> Fri
    <%= f.radio_button(:day, "saturday") %> Sat
    <%= f.radio_button(:day, "sunday") %> Sun
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
