<section class="small-10 columns">
<h1>All Course Modules</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Title</th>
      <th>Code</th>
      <th>Lecturer</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @course_modules.each do |course_module| %>
    <tr>
      <td><%= course_module.course.title %></td>
      <td><%= course_module.title %></td>
      <td><%= course_module.code %></td>
      <td><%= course_module.lecturer %></td>
      <td>
        <%= link_to 'Show |', course_module %>
        <%= link_to 'Edit |', edit_course_module_path(course_module) %>
        <%= link_to 'Destroy', course_module, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Add new Course Module', new_course_module_path %>
<br>
</section>
