<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :student_number %><br>
    <%= f.text_field :student_number %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.select(:course_id, @courses, {}) %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.select(:level, 0..4) %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select(:date_of_birth, start_year: 1920) %>
  </div>
  <div class="field">
    <%= f.label :telephone_number %><br>
    <%= f.text_field :telephone_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
