<!-- <section class="small-12 columns">

  <fieldset>
    <legend><h3>Timetable Description</h3></legend>
    <ul>
      <li>
          <strong>Course:</strong>
          <%= @timetable.course.title %>
      </li>
      <li>
          <strong>Level:</strong>
          <%= @timetable.level %>
      </li>
      <li>
          <strong>Term:</strong>
          <%= @timetable.term %>
      </li>
      <li>
          <strong>Start at:</strong>
          <%= @timetable.start_at.strftime("%d-%m-%Y") %>
      </li>
      <li>
          <strong>End at:</strong>
          <%= @timetable.end_at.strftime("%d-%m-%Y") %>
      </li>
      <li>
          <strong>Academic year:</strong>
          <%= @timetable.academic_year %>
      </li>
    </ul>

  </fieldset> -->
  <!-- Timetable UI -->
  <%= render 'timetable'%>

  <!-- <%= link_to 'Add Lecture/Lab', new_timetable_university_event_path(@timetable) %>
  <%= link_to 'Edit', edit_timetable_path(@timetable) %>
  <%= link_to 'Back', timetables_path %> -->
</section>
