<fieldset>

  <div class="row">
    <div class="medium-3 columns">
      <%= f.label :title %>
    </div>
    <div class="medium-9 columns">
      <%= f.text_field :title, label: false %>
    </div>
  </div>

  <div class="row">
    <div class="medium-3 columns">
      <%= f.label :code %>
    </div>
    <div class="medium-9 columns">
      <%= f.text_field :code, label: false %>
    </div>
  </div>

  <div class="row">
    <div class="medium-3 columns">
      <%= f.label :level %>
    </div>
    <div class="medium-9 columns">
      <%= f.select(:level, 0..4, label: false) %>
    </div>
  </div>

  <div class="row">
    <div class="medium-3 columns">
      <%= f.label :lecturer %>
    </div>
    <div class="medium-9 columns">
      <%= f.text_field :lecturer, label: false %>
    </div>
  </div>

 <%= f.hidden_field :_destroy %>
 <%= link_to "remove", '#',class: "remove_fields button deactivate expand" %>
</fieldset>
