<%= form_for(@society) do |f| %>
  <% if @society.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@society.errors.count, "error") %> prohibited this society from being saved:</h2>

      <ul>
      <% @society.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select(:category, ['Activities & Games','Campaigning & Political','Cultural', 'Film and Media', 'Food and Drink', 'Music', 'Performance', 'Religious & Belief', 'Other']) %>
  </div>
  <div class="field">
    <%= f.label :descritpion %><br>
    <%= f.text_area :descritpion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
